body {
  margin: 0%;
  padding: 0%;
}
.main-div {
  width: 100%;
  box-sizing: border-box;
  background-color: #f5f5f5;
}
.first {
  display: flex;
  justify-content: space-between;
  padding: 10px 3%;
}
.image-box {
  width: 10%;
}
.image-box > img {
  width: 12%;
}
.button-box-nav {
  display: flex;
  justify-content: end;
  gap: 20px;
}
.button-box-nav > button {
  border: none;
  background-color: #f5f5f5;
  color: black;
  border-right: 1px solid black;
}
.second {
  width: 100%;
  height: auto;
  background: white;
  padding: 11px 3%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.second-box-listing > ul {
  display: flex;
  gap: 30px;
  margin: 0;
}
.second-box-listing > ul > li {
  list-style: none;
}
.second-image-box {
  width: 10%;
}
.second-image-box > img {
  width: 40%;
}
.second-box-search {
  display: flex;
  align-items: center;
  gap: 25px;
}
.second-box-search > input {
  height: 34px;
  border-radius: 16px;
  background: #f5f5f5;
  border: none;
  padding-left: 12px;
}
.third {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.third > p {
  margin: 0;
}
.third > a {
  color: black;
}
.banner {
  width: 100%;
  overflow: hidden;
}
.banner > img {
  width: 100%;
  /* object-fit: cover; */
}
.slider-box-main {
  width: 100%;
}
.slider-first > h1 {
  font-size: 45px;
  margin-bottom: 0;
}
.slider-first > p {
  margin-top: 0;
}
.slider-first > button {
  width: 7%;
  height: 32px;
  background-color: black;
  border-radius: 40px;
  color: white;
}
.slider-first {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slider-second {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-right: 22px;
  box-sizing: border-box;
}
.dot-div {
  display: flex;
  gap: 3px;
}
.dots {
  width: 6px;
  height: 6px;
  border-radius: 10px;
  background: black;
}
.slider-button > button {
  background: black;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  padding-top: 3px;
}
.set1 {
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 130px;
  display: flex;
  align-items: center;
}
.text1 {
  color: rgb(0, 0, 0);
  margin: 0%;
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
  height: 10px;
  font-size: 26px;
  padding-left: 49px;
  padding-top: 10px;
}
.set2 {
  display: flex;
  width: 100%;
  border: none;
}
.imgdiv {
  height: 443px;
  width: 50%;
  border: none;
  overflow: hidden;
  position: relative;
}
.img {
  width: 100%;
  position: absolute;
  object-fit: cover;
}
.pbut {
  position: relative;
}
.put {
  font-size: 20px;
  color: white;
  padding-left: 47px;
  padding-top: 294px;
  letter-spacing: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
.but {
  width: 73px;
  border-radius: 51px;
  height: 38px;
  border: none;
  font-size: 16px;
  margin-top: 4px;
  margin-left: 43px;
}
.text3 {
  color: rgb(0, 0, 0);
  margin: 0%;
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
  height: 10px;
  font-size: 26px;
  padding-left: 49px;
  padding-top: 89px;
}
.set3 {
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 141px;
}
.set4 {
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: auto;
  background-color: rgb(255, 255, 255);
}
.set5 {
  width: 100%;
  padding: 0%;
  margin: 0%;
  height: 80px;
}
.text5 {
  font-family: Arial, Helvetica, sans-serif;
  justify-items: center;
  padding-top: 39px;
}
.set6 {
  width: 100%;
  padding: 0%;
  margin: 0%;
  height: 95px;
  justify-items: center;
}
.text6 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 49px;
}
.set7 {
  width: 100%;
  padding: 0%;
  margin: 0%;
  height: 80px;
  display: flex;
  justify-content: center;
}
.but7 {
  width: 73px;
  border-radius: 51px;
  height: 38px;
  border: none;
  font-size: 16px;
  background-color: black;
  color: white;
}
.set8 {
  display: flex;
  width: 100%;
  padding: 0%;
  margin: 0%;
  height: 84px;
  padding-bottom: 9px;
}
.s8-text {
  font-family: Arial, Helvetica, sans-serif;
  height: auto;
  border: none;
  font-size: 22px;
  padding-top: 0%;
}
.s9-text {
  font-family: Arial, Helvetica, sans-serif;
  height: 38px;
  border: none;
  font-size: 16px;
  padding-top: 44px;
  margin-left: 70%;
}
.s10-a {
  padding-left: 15px;
  padding-top: 47px;
}
.s10 {
  height: 43px;
  width: 43px;
  border: none;
  border-radius: 40px;
  color: black;
  font-size: 24px;
}
.s10b {
  height: 43px;
  width: 43px;
  border: none;
  border-radius: 40px;
  color: black;
  font-size: 24px;
}
.set11 {
  display: flex;
  padding: 3%;
  margin: 0%;
  width: 100%;
  box-sizing: border-box;
  height: auto;
  gap: 30px;
}
.set12 {
  display: flex;
  flex-direction: column;
  width: 32%;
  height: auto;
  font-family: Arial, Helvetica, sans-serif;
}
.n1 {
  font-size: 19px;
}
.n2 {
  color: rgb(132, 144, 155);
  font-size: 15px;
  margin-top: -14px;
}
.n3 {
  font-size: 18px;
  margin-top: -5px;
}
.set8-2 {
  display: flex;
  width: 100%;
  padding: 0 8%;
  margin-top: 15px;
  box-sizing: border-box;
  justify-content: space-between;
}
.s8-text > p {
  padding-bottom: 0;
}
.set13 {
  display: flex;
  width: 100%;
  padding: 0 8%;
  margin: 0%;
  height: auto;
  box-sizing: border-box;
  gap: 15px;
}
.set14 {
  width: 33.3%;
  height: auto;
  margin: 0%;
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
}
.set143 {
  width: 100%;
  margin: 0%;
  padding: 0%;
}
.set15 {
  display: flex;
  width: 100%;
  margin: 0%;
  height: auto;
  margin-top: 10px;
  padding-top: 10px;
  border: none;
  box-sizing: border-box;
}
.set16 {
  width: 20%;
  height: auto;
  margin: 0%;
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
}
.set163 {
  width: 298px;
  height: 298px;
  margin: 0%;
  padding: 0%;
}

.sectio-trail {
  padding: 0 3%;
}
.s8-text-final {
  padding: 0 3%;
  font-family: Arial, Helvetica, sans-serif;
  height: auto;
  border: none;
  font-size: 22px;
  padding-top: 5%;
}
.s8-text-final > p {
  margin-bottom: 0;
}

/* footer start */
.main-footer {
  width: 100%;
  height: auto;
  background: #ffffff;
  padding: 3%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.first-portion {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.first-footer-div > ul {
  padding-left: 0;
}
.first-footer-div > ul > li {
  list-style: none;
  line-height: 35px;
}
.second-portion {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  gap: 10px;
}
.second-portion > p {
  margin-top: 0;
}
#underline {
  border-bottom: 1px solid black;
}
